section.reviews
    p.reviews__note Meta* признана экстремистской организацией в РФ
    div.reviews__image
    h2.reviews__title Отзывы от наших клиентов
    p.reviews__text Мы работаем с 2012 года, и у нас уже сотни хороших отзывов, нам доверяют свои данные и не переживают за их конфиденциальность. Если Вы сомневаетесь, можете посмотреть отзывы реальных людей в соц сети <a href="https://vk.com/anton___viktorovich" target="_blank">Вконтакте</a> и убедиться, что Ваш аккаунт, как и сотни других, будет успешно восстановлен!
    div.reviews__block
        div.reviews-item
            div.reviews-item__header
                div.reviews-item__img
                    img(src="img/ava1.png" alt="")
                div.reviews-item__name
                    span Юля Чижова
                    | г. Москва
                div.reviews-item__stars
                    img(src="img/star.svg" alt="")
                    img(src="img/star.svg" alt="")
                    img(src="img/star.svg" alt="")
                    img(src="img/star.svg" alt="")
                    img(src="img/star.svg" alt="")
            p.reviews-item__text Благодарю за отличную работу! Все быстро сделали! Ответили на все возможные вопросы, можете обращаться!!!
        div.reviews-item
            div.reviews-item__header
                div.reviews-item__img
                    img(src="img/ava2.png" alt="")
                div.reviews-item__name
                    span Вера Сарпова
                    | г. Ростов-на-Дону
                div.reviews-item__stars
                    img(src="img/star.svg" alt="")
                    img(src="img/star.svg" alt="")
                    img(src="img/star.svg" alt="")
                    img(src="img/star.svg" alt="")
                    img(src="img/star.svg" alt="")
            p.reviews-item__text Спасибо что вернули 3 рабочих акк и за постоянную консультацию
        div.reviews-item
            div.reviews-item__header
                div.reviews-item__img
                    img(src="img/ava3.png" alt="")
                div.reviews-item__name
                    span Антон Липницин
                    | г. Ростов-на-Дону
                div.reviews-item__stars
                    img(src="img/star.svg" alt="")
                    img(src="img/star.svg" alt="")
                    img(src="img/star.svg" alt="")
                    img(src="img/star.svg" alt="")
                    img(src="img/star.svg" alt="")
            p.reviews-item__text Спасибо большое) вернули аккаунт без проблем , быстро и оперативно!!!
    a.reviews__link(href="https://vk.com/anton___viktorovich" target="_blank") Смотреть все отзывы в VK